{% extends 'fanta/admin/includes/layout.twig' %}

{% block corpo %}
    <h1>Items</h1>
    <ul>
    {% for league in leagues %}
        <li>
            <a href="{{ path_for('league-detail', {'league_id':league.id}) }}">{{ league.name }}</a>
        </li>
    {% endfor %}
    </ul>

    <h2>Aggiungi nuovo</h2>
    <form action="{{ path_for('user-add') }}" method="post">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" />
        <br/>
        <input type="submit" value="Salva">

    </form>
{% endblock %}
