<html>
<head>
    <meta charset="utf-8"/>
    <title>Slim 3</title>

</head>
<body>

{% block nav %}
    <nav>
        <ul>
            <li>
                <a href="{{ path_for('league-list') }}">Items</a>
            </li>
            <li>
                <a href="{{ path_for('user-list') }}">Users</a>
            </li>
            <li>
                <a href="{{ path_for('admin-logout') }}">Esci</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block corpo %}
{% endblock %}

</body>
</html>
